<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <div class="container-fluid">

    <a class="navbar-brand" [routerLink]="['/']">
      Multimedia GP Portal
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">

        <li class="nav-item" *ngIf="auth.isLoggedIn() && isGP">
          <a class="nav-link" [routerLink]="['/gp/patients']">GP Portal</a>
        </li>

        <li class="nav-item" *ngIf="auth.isLoggedIn() && isPatient">
          <a class="nav-link" [routerLink]="['/patient-portal']">Patient Portal</a>
        </li>

      </ul>

      <div class="d-flex align-items-center" *ngIf="auth.isLoggedIn(); else loginLink">
        <span class="me-3 text-light small">
          {{ username }}
          <span class="badge ms-1"
                [ngClass]="isGP ? 'bg-warning text-dark' : 'bg-info text-dark'">
            {{ isGP ? 'GP' : 'Patient' }}
          </span>
        </span>
        <button class="btn btn-outline-light btn-sm" (click)="logout()">
          Logout
        </button>
      </div>

      <ng-template #loginLink>
        <a class="btn btn-outline-light btn-sm" [routerLink]="['/login']">
          Login
        </a>
      </ng-template>
    </div>

  </div>
</nav>
